<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="myConStr" connectionString="Data Source=DESKTOP-L0ATNCN\SQLEXPRESS;Initial Catalog=AuctionEnterpriseApp;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>